PORT="8081"
NODE_ENV=
# use ifconfig to check your ip address
HOSTNAME=
CLIENT_URL=
SERVER_URL=

# [DATABASE_URL]
# Connect to Supabase via connection pooling with Supavisor. (Transaction connection pooler string)
DATABASE_URL=
# Direct connection to the database. Used for migrations. (Session connection pooler string)
DIRECT_URL=

# [JWT SECRET]
SALT_ROUND=
POINT_PRO_SECRET=

# [IMGUR]
IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=
IMGUR_REFRESH_TOKEN=
IMGUR_ACCESS_TOKEN=
IMGUR_ALBUM_ID=
IMGUR_ALBUM_BACKUP_ID=

# [GMAIL]
GMAIL_USER=
GMAIL_PASS=

# [LINE PAY]
LINE_PAY_CHANNEL_ID=
LINE_PAY_CHANNEL_SECRET=
LINE_PAY_ENV=

# [EC PAY]
EC_PAY_MERCHANT_ID=
EC_PAY_HASH_KEY=
EC_PAY_HASH_IV=

# [REDIS]
REDIS_HOST=